
.center-div{
  height: 700px;
  width: 800px;
  display: flex;
  margin: auto;
  padding: 50px  ;
  background-color:#d1fdfa ;
  }
  .left-side{
    height: 694px;
    width: 400px;
    background-color:white;
    border: 1px white;
  }
  
  .right-side{
    height: 700px;
    width: 400px;
    background-color: #d1fdfa;
    
  }
  p{
    margin: auto;
    padding: 1rem;
  
  }
  
  
  